<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertNewUser">
		INSERT 
		  INTO USER
             ( 
               USER_PHONE
             , USER_PWD
             , USER_NAME
             , USER_BDAY
             , USER_GENDER
             , USER_ADDRESS 
             , USER_REGISTER_DATE
             )
        VALUES
             (
               ?
             , ?
             , ?
             , ?
             , ?
             , ?
             , NOW()
             )
	</entry>
</properties>