
/* 폰트 설정 */
@font-face {
  font-family: "nanumbarungothic";
  src : url("../../FONTS/NanumBarunGothic.ttf");
}

@font-face {
  font-family: "euljiro10years";
  src: url("../../FONTS/BMEuljiro10yearslater.ttf");
}



/* 전체배경 */
html {
  background: white;
}

/* 바디 배경 및 폰트 설정 */
body {
  background: white !important;
  font-family: 'nanumbarungothic';
}

/* 제목 폰트 설정 */
.form-signin-heading {
  font-family: "euljiro10years";
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* 개인, 기업회원 버튼 폰트, 컬러 */
.signinbutton {
  font-family: "euljiro10years";
  font-size: 20px;
  color: white;
  background-color: orange;
  border: 1px solid orange;
  padding: 10px;
  width: 170px;
  border-radius: 5px;
}



/* 입력창 위 텍스트 설정*/
.text-label {
  text-align: left;
  font-size: 18px;
  padding-bottom: 18px;
  
}

/* 로그인 입력창, 버튼 영역 */
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  
  background-color: white;
  border: 1px solid white;
}

/* 타이틀, 체크박스 */
.form-signin,
.form-signin .checkbox {
  margin-bottom: 30px;
}

.form-signin .checkbox {
  font-weight: normal;
}

/* 타이틀 위치, 폰트 크기, 패딩, 경계선 설정 */
.form-signin .form-control {
  position: relative;
  font-size: 15px;
  height: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  opacity: 1; /* 내부 글씨 투명도 설정 */
}

.form-control {
  padding-right: 5px;
  padding-left: 5px;
}

/* 전화번호 입력창 */
.form-signin .form-control-1 {
  position: relative;
  font-size: 15px;
  height: auto;
  width: 180px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  opacity: 1; /* 내부 글씨 투명도 설정 */
}

.form-control-1 {
  padding-right: 5px;
  padding-left: 5px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

/* 아이디(전화번호) 입력창 설정 */
.form-signin input[type=text] {
  margin-top: 3px;
  margin-bottom: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* 비밀번호 입력창 설정 */
.form-signin input[type=password] {
  margin-top: 3px;
  margin-bottom: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}




/* 전화번호, 비밀번호 입력칸 설정 */
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555 ;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* 입력창 하단 안내 텍스트 설정 */
small {
  font-size: 100%;
  font-weight: 400;
}

/* 로그인 기억하기 라디오 버튼 */
.radio, .checkbox {
    display: block;
    height: 10px;
    font-size: 16px;
    padding-bottom: 5px;
    padding-left: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* 체크박스 크기 */
input[type='checkbox'] {
  width: 13px;
  height: 13px;
}

/* 체크박스 크기(체크시) */
input[type='checkbox']:checked {
  width: 13px;
  height: 13px;
}

/* 아이디, 비밀번호 찾기 a태그 정렬 */
.atag {
  text-align: center;
  font-variant: 20px;
}

