
/* 시작 페이지에서 쓰는 아이콘 있는 css (삭제 금지) */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?qtatmt');
	src:url('../fonts/icomoon/icomoon.eot?qtatmt#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?qtatmt') format('truetype'),
		url('icomoon.woff?qtatmt') format('woff'),
		url('../fonts/icomoon/icomoon.svg?qtatmt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* 시작 페이지에서 쓰는 아이콘들 (삭제하면 안 됨) */
.icon-search2:before {
	content: "\f002";
}

 .icon-pencil:before {
	content: "\f040";
}

.icon-expand2:before {
	content: "\f065";
}

.icon-eye:before {
	content: "\f06e";
}

.icon-folder-open:before {
	content: "\f07c";
}

.icon-briefcase:before {
	content: "\f0b1";
}

.icon-mouse-pointer:before {
	content: "\f245";
}

.icon-github:before {
	content: "\f09b";
}

.icon-chevron-down:before {
	content: "\f078";
}