@font-face {
  font-family: "Nanum";
src: url("../../FONTS/NanumBarunGothic.ttf");
}


 @font-face {
    font-family: "BM";
    src: url("../../FONTS/BMEuljiro10yearslater.ttf");
 }
  h1, h2{
 
     font-family : "BM";
 }

  .btn1{
  
   	background-color: black;
	color : white;
	border : none;
	box-shadow: 0 3px 0 gray;
	border-radius: 30px;
 }
   	 .btn1:visited{
        background: white;
     }
     .btn1:hover {
     	background: orange;
     }
 
 div p{
 	font-size: 25px;
 }
