<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectLoginBusinessMember">
select
       H.HR_ID
     , H.HR_PWD
     , H.HR_NAME
     , H.HR_PHONE
     , H.HR_EMAIL
     , H.B_CODE
     , B.B_BLOCK
     , D.D_LIST_REASON
  FROM HR H
  join BUSINESS B on (H.B_CODE = B.B_CODE)
  join DECISION_LIST D on (B.D_LIST_CODE = D.D_LIST_CODE)
 WHERE HR_ID = ?
	</entry>
</properties>