<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectLoginBusinessMember">
select 
       H.HR_ID
     , H.HR_PWD
     , H.HR_NAME
     , H.HR_PHONE
     , H.HR_EMAIL
     , H.B_CODE
     , B.B_BLOCK
     , D.D_LIST_REASON
     , B.B_NAME
  FROM HR H
  join BUSINESS B on (H.B_CODE = B.B_CODE)
  join DECISION_LIST D on (B.D_LIST_CODE = D.D_LIST_CODE)
 WHERE HR_ID = ?
	</entry>
	<entry key="insertDecisionList">
       insert
         into decision_list 
       (
         D_LIST_REASON
       , D_LIST_DATE
       , ADMIN_ID
       , DECISION_CODE
       , D_LIST_TYPE_CODE
       )
       values
      (
        null
      , null
      , null
      , 1
      , 3
 	  )
	</entry>
	<entry key="insertBusiness">
       insert
         into business 
       (
         B_NAME
       , B_OWNER
       , B_NUMBER 
       , B_ADDRESS  
       , B_PHONE 
       , B_BLOCK 
       , B_PROFIT 
       , B_LOGO 
       , B_CATEGORY_CODE 
       , D_LIST_CODE 
       )
       values
       (
         ?
       , ? 
       , ?  
       , ?
       , ?
       , 0
       , ?
       , ?
       , ?
       , LAST_INSERT_ID()
       )
	</entry>
	<entry key="insertHr">
       insert
         into HR
       (
         hr_id
       , HR_PWD 
       , HR_NAME 
       , HR_PHONE 
       , HR_EMAIL 
       , B_CODE 
       )
       values
       (
         ?
       , ?
       , ?
       , ?	
       , ?
       , LAST_INSERT_ID()
       )
    </entry>
	<entry key="selectTotalCount">
		SELECT 
	   		   c.DECISION_CODE
	  		 , IFNULL(COUNT(a.POST_CODE), 0) as 'COUNT'
  		  FROM post a
  		  JOIN DECISION_LIST b on(a.D_LIST_CODE = b.D_LIST_CODE)
  		  JOIN DECISION c on(b.DECISION_CODE = c.DECISION_CODE)
 		 WHERE a.HR_ID = ?
 		 GROUP BY c.DECISION_CODE
         ORDER BY c.DECISION_CODE
	</entry>
	<entry key="selectPostList">
		SELECT
       			a.POST_CODE
     		  , c.DECISION_STATUS
     		  , a.POST_DATE
    		  , a.POST_TITLE
     		  , e.AD_NAME
     		  , a.POST_START
     		  , a.POST_END
     		  , COUNT(ap.APPLY_CODE) as "APPLICANTS"
  		   FROM POST a
  		   LEFT JOIN APPLY ap on(a.POST_CODE = ap.POST_CODE)
  		   LEFT JOIN DECISION_LIST b on(a.D_LIST_CODE = b.D_LIST_CODE)
  		   LEFT JOIN DECISION c on(b.DECISION_CODE = c.DECISION_CODE)
  		   LEFT JOIN POST_AD_PAYMENT d on(a.POST_CODE = d.POST_CODE)
  		   LEFT JOIN AD e on(d.AD_CODE = e.AD_CODE)
  		  WHERE a.HR_ID = ?
 		  GROUP BY a.POST_CODE, c.DECISION_STATUS , a.POST_DATE , a.POST_TITLE , e.AD_NAME ,a.POST_START , a.POST_END 
 		  ORDER BY a.POST_DATE DESC
 		  LIMIT ?, ?
	</entry>
	<entry key="selectPostListCategory">
		SELECT
       			a.POST_CODE
     		  , c.DECISION_STATUS
     		  , a.POST_DATE
    		  , a.POST_TITLE
     		  , e.AD_NAME
     		  , a.POST_START
     		  , a.POST_END
     		  , COUNT(ap.APPLY_CODE) as "APPLICANTS"
  		   FROM POST a
  		   LEFT JOIN APPLY ap on(a.POST_CODE = ap.POST_CODE)
  		   LEFT JOIN DECISION_LIST b on(a.D_LIST_CODE = b.D_LIST_CODE)
  		   LEFT JOIN DECISION c on(b.DECISION_CODE = c.DECISION_CODE)
  		   LEFT JOIN POST_AD_PAYMENT d on(a.POST_CODE = d.POST_CODE)
  		   LEFT JOIN AD e on(d.AD_CODE = e.AD_CODE)
  		  WHERE a.HR_ID = ?
  		    AND c.DECISION_STATUS = ?
 		  GROUP BY a.POST_CODE, c.DECISION_STATUS , a.POST_DATE , a.POST_TITLE , e.AD_NAME ,a.POST_START , a.POST_END 
 		  ORDER BY a.POST_DATE DESC
 		  LIMIT ?, ?
 	</entry>
	<entry key="insertnewpost">
		insert
	      into post
	    (
    	  POST_TITLE
	    , POST_CONTENT 
	    , POST_TO
    	, POST_START 
	    , POST_END 
    	, POST_ONLINE
    	, POST_DATE 
    	, POST_ADDRESS 
	    , POST_DAY
	    , PAYMENT 
    	, GENDER 
    	, ADVANTAGE 
    	, BENEFIT 
    	, FULLTIME_YN 
    	, POST_M_NAME 
     	, POST_M_EMAIL 
    	, POST_M_PHONE 
    	, EXP_CODE 
     	, JOB_CODE 
    	, PERIOD_CODE 
     	, HOUR_CODE 
    	, LOCATION_CODE 
    	, PAY_CODE 
    	, AGE_CODE 
    	, HR_ID 
	    , DEGREE_CODE 
    	, D_LIST_CODE 
    	 )
    	 values
    	 (
     	  ?
    	, ?
     	, ?
     	, ?
	    , ?
    	, ?
    	, NOW()
    	, ?
    	, ?
	    , ?
    	, ?
	    , ?
    	, ?
    	, ?
    	, ?
	    , ?
	    , ?
    	, ?
    	, ?
	    , ?
    	, ?
	    , ?
	    , ?
	    , ?
    	, ?
    	, ?
    	, LAST_INSERT_ID()
	     )
	</entry>
	<entry key="insertDecisionListpost">
       insert
         into decision_list 
       (
         D_LIST_REASON
       , D_LIST_DATE
       , ADMIN_ID
       , DECISION_CODE
       , D_LIST_TYPE_CODE
       )
       values
      (
        null
      , null
      , null
      , 1
      , 4
 	  )
	</entry>
	
	<entry key="checkDuplicationId">
		SELECT
		       COUNT(HR_ID)
		  FROM HR
		 WHERE HR_id = ?
	</entry>
	
	<entry key="selectApplicationList">
		SELECT
               a.POST_CODE
     		 , a.POST_M_NAME
     		 , a.POST_TITLE
     		 , a.POST_TO
     		 , a.POST_DATE
     		 , (SELECT COUNT(b.APPLY_CODE)
          		  FROM APPLY b
         		 WHERE a.POST_CODE = b.POST_CODE 
       		   ) as 'countOfApplicant'
     		 , (SELECT COUNT(b.APPLY_CODE)
          		 FROM APPLY b
         		WHERE a.POST_CODE = b.POST_CODE
           		  AND b.APPLY_READ = false
       		   ) as 'unreadResume'
  		 FROM POST a
  		 JOIN DECISION_LIST c on(a.D_LIST_CODE = c.D_LIST_CODE)
 		WHERE HR_ID = ?
 		  AND c.DECISION_CODE IN (2,3)
 	</entry>
 	
	<entry key="updatehrInfo">
		UPDATE HR
	       SET HR_NAME = ?, HR_PHONE = ? , HR_EMAIL = ?
	     WHERE HR_ID = ?
	</entry>
</properties>