<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="adminRegist">
	INSERT
	INTO admin
	(
	   admin_id
	  ,admin_pwd
	  ,admin_name
	  ,admin_email
	  ,admin_date
	  ,admin_role
	)
	VALUES
	(
	   ?
	  ,?
	  ,?
   	  ,?
	  ,now()
	  ,?
	)
	</entry>
	
	<entry key="adminIdSelect">
	    SELECT 
	           COUNT(*)
	      FROM ADMIN
	      WHERE admin_id = ?
	</entry>
	

</properties>