<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="adminRegist">
	INSERT
	INTO ADMIN 
  (
    ADMIN_ID
   ,ADMIN_PWD
   ,ADMIN_NAME
   ,ADMIN_EMAIL 
   ,ADMIN_DATE 
   ,ADMIN_ROLE 
  )
   values
  (
	   ?
	  ,?
	  ,?
   	  ,?
	  ,now()
	  ,?
	)
	</entry>
	
	<entry key="adminIdSelect">
	    SELECT 
	           COUNT(*)
	      FROM ADMIN
	      WHERE ADMIN_ID = ?
	</entry>
	
	<entry key="selectAdminList">
	    SELECT 
	         *
	      FROM ADMIN
	      LIMIT ?,?
	</entry>
	
	<entry key="selectTotalCount">
        SELECT 
               COUNT(*)
          FROM ADMIN
	</entry>
	
	<entry key="selectOneAdminId">
		SELECT 
		       *
		  FROM ADMIN
		 WHERE ADMIN_ID = ?
		
	</entry>
	<entry key="updateAdmin">
	    UPDATE 
	            ADMIN
	       SET  ADMIN_PWD = ? 
	           ,ADMIN_NAME = ? 
	           ,ADMIN_EMAIL = ? 
	           ,ADMIN_DATE = ? 
	           ,ADMIN_ROLE = ? 
	      WHERE ADMIN_ID = ?
	
	</entry>
	
	<entry key="adminDelete">
		DELETE 
		  FROM ADMIN
		  WHERE ADMIN_ID = ?	
	</entry>
	
	<entry key="selectAdvertList">
	    SELECT 
	         *
	      FROM AD
	      LIMIT ?,?
	</entry>
	
	<entry key="advertTotalCount">
        SELECT 
               COUNT(*)
          FROM ADMIN
	</entry>
	
	<entry key="advertAdd">
	INSERT
	  INTO AD
	  (
	  	AD_NAME,
	  	AD_PRICE
	  	
	  
	  )VALUES
	  (
	  	?,
	  	?
	  )
	
	</entry>
	
	<entry key="advertDetail">
		SELECT 
		       *
		  FROM AD
		 WHERE AD_CODE = ?
		
	</entry>
	<entry key="advertCountCode">
		SELECT 
		     COUNT(*)
		  FROM AD 
		  WHERE AD_CODE = ?
	
	</entry>
	
	
	
	<entry key="searchCountName">
		SELECT 
		     COUNT(*)
		  FROM AD 
		  WHERE AD_NAME = ?
	
	</entry>
	
		<entry key="advertUpdate">
	    UPDATE 
	            AD
	       SET  AD_NAME = ? 
	           ,AD_PRICE = ? 
	      WHERE AD_CODE = ?
	
	</entry>
	<entry key="advertDelete">
		DELETE 
		  FROM AD
		  WHERE AD_CODE = ?	
	</entry>
	
	<entry key="searchadminName">
	    select 
	           COUNT(*)
	      from ADMIN 
	      where ADMIN_NAME = ?
	</entry>
	
	<entry key="adminNameSelect"> 
	 SELECT 
	        *
	   FROM ADMIN
	   WHERE ADMIN_NAME LIKE '%' ? '%'
	
	</entry>
	
		<entry key="advertnameSelect"> 
	 SELECT 
	        *
	   FROM AD
	   WHERE AD_NAME LIKE '%' ? '%'
	
	</entry>
</properties>