<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment/>

	<entry key="selectBlockEncryptedPwd">
		SELECT
		       A.USER_PWD
		     , A.USER_BLOCK
		  FROM USER A
		 WHERE A.USER_PHONE = ?
	</entry>
	<entry key="selectLoginUser">
		SELECT
		       A.USER_CODE
		     , A.USER_NAME
		     , A.USER_PHONE
		     , A.USER_PWD
		     , A.USER_BDAY
		     , A.USER_GENDER
		     , A.USER_ADDRESS
		     , A.USER_REGISTER_DATE
		     , A.USER_BLOCK
		  FROM USER A
		 WHERE A.USER_PHONE = ?			
	</entry>

</properties>
